USE [C:\USERS\TOAN\SOURCE\REPOS\FOOTBALL_PROJECT\APP_DATA\COMPANYDB.MDF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/7/2022 10:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 12/7/2022 10:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[GoalID] [bigint] IDENTITY(1,1) NOT NULL,
	[MatchID] [bigint] NOT NULL,
	[PlayerName] [nvarchar](max) NULL,
	[NumberOfGoal] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.Goals] PRIMARY KEY CLUSTERED 
(
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 12/7/2022 10:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [bigint] IDENTITY(1,1) NOT NULL,
	[Team1Name] [nvarchar](max) NULL,
	[Team2Name] [nvarchar](max) NULL,
	[TiSo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Matches] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 12/7/2022 10:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](max) NULL,
	[PlayerNumber] [int] NULL,
	[RoleName] [nvarchar](max) NULL,
	[TeamName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Players] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/7/2022 10:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 12/7/2022 10:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [bigint] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Goals] ON 

INSERT [dbo].[Goals] ([GoalID], [MatchID], [PlayerName], [NumberOfGoal]) VALUES (1, 1, N'Memphis Depay', 2)
INSERT [dbo].[Goals] ([GoalID], [MatchID], [PlayerName], [NumberOfGoal]) VALUES (2, 1, N'Christian Pulisic', 1)
INSERT [dbo].[Goals] ([GoalID], [MatchID], [PlayerName], [NumberOfGoal]) VALUES (3, 2, N'Lionel Messi', 1)
SET IDENTITY_INSERT [dbo].[Goals] OFF
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([MatchID], [Team1Name], [Team2Name], [TiSo]) VALUES (1, N'Hà Lan', N'Mỹ', N'2 : 1')
INSERT [dbo].[Matches] ([MatchID], [Team1Name], [Team2Name], [TiSo]) VALUES (2, N'Argentina', N'Australia', N'1 : 0')
INSERT [dbo].[Matches] ([MatchID], [Team1Name], [Team2Name], [TiSo]) VALUES (3, N'Pháp', N'Ba Lan', N'2 : 0')
SET IDENTITY_INSERT [dbo].[Matches] OFF
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([PlayerID], [PlayerName], [PlayerNumber], [RoleName], [TeamName]) VALUES (1, N'Cristiano Ronaldo', 7, N'Tiền đạo', N'Bồ Đào Nha')
INSERT [dbo].[Players] ([PlayerID], [PlayerName], [PlayerNumber], [RoleName], [TeamName]) VALUES (2, N'Joao Felix', 2, N'Tiền đạo', N'Bồ Đào Nha')
INSERT [dbo].[Players] ([PlayerID], [PlayerName], [PlayerNumber], [RoleName], [TeamName]) VALUES (3, N'Lionel Messi', 10, N'Tiền đạo', N'Argentina')
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Thủ môn')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Hậu vệ')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Tiền vệ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamID], [TeamName], [Amount]) VALUES (1, N'Bồ Đào Nha', 26)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [Amount]) VALUES (2, N'Brazil', 25)
INSERT [dbo].[Teams] ([TeamID], [TeamName], [Amount]) VALUES (3, N'Hàn Quốc', 23)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
