
@{
    ViewBag.Title = "Create Teams";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Thêm đội bóng</h2>

<form action="/teams/create" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="TeamName">Tên đội bóng</label>
            <input type="text"
                   class="form-control"
                   id="TeamName"
                   name="TeamName"
                   placeholder="Nhập tên..." />
        </div>
        <div class="col-md-6">
            <label for="Amount">Số cầu thủ</label>
            <input type="number"
                   class="form-control"
                   id="Amount"
                   name="Amount"
                   placeholder="Nhập số cầu thủ..." />
        </div>
    </div>
    <br/>
    <br/>
    <button type="submit" class="btn btn-success">Thêm</button>
    <a href="/teams" class="btn btn-danger">Trở về</a>
</form>

