
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Chỉnh sửa đội bóng</h2>

<form action="/teams/edit/@Model.TeamID" method="post">
    <input type="hidden" name="TeamID" value="@Model.TeamID" />
    <div class="row">
        <div class="col-md-6">
            <label for="TeamName">Tên đội bóng</label>
            <input type="text"
                   class="form-control"
                   id="TeamName"
                   name="TeamName"
                   placeholder="Nhập tên..."
                   value="@Model.TeamName" />
        </div>
        <div class="col-md-6">
            <label for="Amount">Số cầu thủ</label>
            <input type="number"
                   class="form-control"
                   id="Amount"
                   name="Amount"
                   placeholder="Nhập số cầu thủ..."
                   value="@Model.Amount" />
        </div>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
    <a href="/teams" class="btn btn-danger">Trở về</a>
</form>
