
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>PlayerName</th>
        <th>Số bàn ghi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PlayerName</td>
            <td>@item.NumberOfGoal</td>

        </tr>
    }
</table>